@import "./variable/index.less";
// 浏览器创建的伪元素控制UI过渡的具体效果
::view-transition-old(root) {
    animation: animateView 0.3s ease-in-out reverse;

}

::view-transition-old(root),
::view-transition-new(root) {
    mix-blend-mode: normal;
}

@keyframes animateView {
    0% {
        opacity: 0;
        // block-size: 0vb;
        
        transform: scaleX(0) translateY(100vb);
        transform-origin: bottom right;
    }

    100% {
        // block-size: 100vb;
        inline-size: 100vi;
        opacity: 1;
        transform: scaleX(100vi) translateY(0vb);
        transform-origin: bottom right;
    }
}

::view-transition-new(root) {
    animation: animateView 0.3s ease-in-out;
}
::view-transition-new(dialog) {
    animation: animateView 0.3s ease-in-out;
}
* {
    box-sizing: border-box;
}
:root{
    scrollbar-gutter: stable both-edges; 
    // 仅仅firefox支持
    // scrollbar-width: thin;
    // scrollbar-color:#007 #bada55;

    // color-scheme,使用操作系统的亮色或者深色配色方案渲染元素
    color-scheme:light!important;//两个值表示由系统来决定,支持的比较少，有表单滚动条以及css系统颜色
    // color-scheme:dark;//一个值表示就与系统配色无关了
}
html{
    // writing-mode:vertical-lr;
    writing-mode:horizontal-tb;
    scroll-behavior: smooth;
   
}

::-webkit-scrollbar {
    // display: none; /* Chrome Safari */
    width: @yihao-width;
  }
  ::-webkit-scrollbar-button {

  }
  ::-webkit-scrollbar-thumb {
    background: @sihao-green-bgc;
    border-radius:@erhao-border-radius;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: @sihao-green-bgc;
    border-radius:@erhao-border-radius;
  }
  ::-webkit-scrollbar-thumb:active {
    background: @sihao-green-bgc;
    border-radius:@erhao-border-radius;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius:@erhao-border-radius;
  }


body {
    margin:0;
} 
a {
    color:black;
    text-decoration: none;
    cursor: pointer;
}
ul {
    padding-left:0px;
    margin:0;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    margin:0;
    font-weight: normal;
}
button {
    border:none;
}
input {
    border:none;
    outline:none;
}
p {
    margin:0;
}
textarea {
   outline:none;
   border:0;;
}



// 媒体查询辅助功能
// 检测系统是否开启动画减弱
@media (prefers-reduced-motion:reduce){
    .animation {
        animation: none !important;
    }
}
// 检测系统的颜色模式
@media (prefers-color-scheme:dark) {
    body{
        background-color: #222 !important;
        color:#eee !important;
    }
    .light {
        background-color: #222 !important;
        color:#eee !important;
    }
}
@media (prefers-color-scheme:light) {
    body{
        background-color: #eee !important;
        color:#222 !important;
    }
    .light {
        background-color: #eee !important;
        color:#222 !important;
    }
}
//检测系统的对比度
@media (prefers-contrast:less){
    body{
        color:#ccc !important;
        background-color: #666!important;
    }
    a {
        color:#ccc!important;
        text-decoration: none!important;
    }
    .contrast {
        outline:none;
    }
}
@media (prefers-contrast:more){
    body{
        color:#000 !important;
        background-color: #000 !important;
    }
    a {
        color:blue !important;
        text-decoration: underline !important;
    }
    .contrast {
        outline:2px solid black;
    }
}
//检测系统的透明度
@media (prefers-reduced-transparency:reduce){
        body {
            background-color: #222  !important;
            opacity:0.8  !important;
        }
        .translucent {
            opacity:0.8;
        }
}

